<% include ./partials/header %>

	<div class="container">
		<form action="/login" method="POST" id="loginForm" class="well col-md-5 col-md-offset-2">
			<h1>Log in</h1>
			<div class="form-group">
				<input type="text" id="username" name="username" class="form-control" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="submit" id="submitLogin" class="btn btn-primary">Log in</button>
			</div>
			<a href="/signup">Signup</a>
		</form>

	</div>

<% include ./partials/footer %>