h1, h2, h3, h4, h5 {
	margin: 2px 0;
}
.navbar.navbar-default {
	border: 0;
	border-radius: 0;
}
.alert {
	border: 0;
	border-radius: 0;
}
.jumbotron {
	word-wrap: break-word;
}
.thumbnail {
	padding: 0;
}
.thumbnail p {
	margin: 0;
}
.thumbnail img {
	width: 100%;
}
.thumbnail p {
	padding: 3px;
}
.caption-full {
	padding: 10px;
}
.delete-form {
	display: inline;
}

#campgrounds-listing {
	display: flex;
	flex-wrap: wrap;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.comment-body {
	word-wrap: break-word;
}